.transaction-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 1.5s;
  }
  
  .input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    animation: slideIn 1s;
  }
  
  .transaction-input {
    width: 300px;
    border-radius: 4px;
  }
  
  .search-button {
    border-radius: 4px;
  }
  
  .loading-spinner {
    margin: 20px;
  }
  
  .error-alert {
    margin-top: 20px;
  }
  
  .transaction-card {
    max-width: 400px;
    margin-top: 20px;
    border-radius: 8px;
    animation: popUp 1s;
  }

  .custom-search-button {
    width: 100%;
    border-radius: 8px;
    background: rgba(61, 140, 231, 0);
    border: 2px solid rgb(61, 140, 231);
    color: rgb(61, 140, 231);
    font-weight: 600;
    transition: all 0.3s ease;
  
    &:hover {
      background: rgb(61, 140, 231);
      border: none;
      color: white;
      font-weight: 600;
    }
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes popUp {
    from {
      transform: scale(0.9);
      opacity: 0.8;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  